If:
  PathExclude: poc/.*
CompileFlags:
  CompilationDatabase: build/ninja-debug
  Add:
    - /imsvc
    - C:/Program Files/Microsoft Visual Studio/18/Community/VC/Tools/MSVC/14.51.36231/include
    - /imsvc
    - C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/ucrt
    - /imsvc
    - C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/shared
    - /imsvc
    - C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/um
    - /imsvc
    - C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/winrt
    - /imsvc
    - C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/cppwinrt

---
If:
  PathMatch: poc/private_thumbnail_probe/.*
CompileFlags:
  CompilationDatabase: poc/private_thumbnail_probe/build/ninja-debug
